/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px; 
    padding: 5px 20px;
	min-width: 600px;
}
input#gform_submit_button_25 {
    border-radius: 0px;
    background: #a51c2a;
    border-color: #a51c2a;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 180px;
    min-height: 45px;
}
input#gform_submit_button_25:hover{
	color: #ffffff;
    background: #0147b9;
    border-color: #0147b9;
}

html.chrome .bx-wrapper .bx-loading{
    display: none;
}
html.chrome .fl-content-slider .bx-wrapper .fl-slide{
    visibility: visible;
}


* Firefox browser *

html.firefox .bx-wrapper .bx-loading{
    display: none;
}
html.firefox .fl-content-slider .bx-wrapper .fl-slide{
    visibility: visible;
}
.fl-slide .fl-slide-text > p{
	margin: 0!important;
}
.fl-post-image-beside{
	width: 100%!important;
}

.search-row .product-row .btn-grey a.link.plp-view-product {
    display: block!important;
    margin-top: -10px;
    font-family: "adriane-text Bold",Verdana,Arial,sans-serif;
}
#moove_gdpr_cookie_info_bar p{
	    color: #f0ebe1!important;
	font-family: "adriane-text Bold", Verdana, Arial, sans-serif;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder > button{
	    background-color: #14234b!important;
	    color: #f0ebe1!important;
	    font-family: "adriane-text Bold", Verdana, Arial, sans-serif;
	text-transform: uppercase!important;
	border-radius: 0px!important;
	letter-spacing: 1px!important;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder > button:hover{
	    background-color: #2d3a5e!important;
	    color: #f0ebe1!important;
}
 .gform_wrapper .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.gfield{
	padding-right: 15px!important;
}
/* .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
} */
.slick-track{
	display: flex !important;
    align-items: center;
}
a.link.plp-view-product{
	color: #fff !important;
    background-color: #14234b !important;
        font-family: "Gibson Regular",Verdana,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    text-transform: none;
    border-style: none;
    border-width: 0px;
    border-color: initial;
    border-radius: 0px;
    padding: 12px 24px;
    text-decoration: none !important;
}
a.link.plp-view-product:hover{
	    background-color: #2d3a5e !important;
}
header .phone span:before{
	    content: "\f1f8";
	    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
	margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}
.storHour .store-opening-hrs{
		text-align: center;
	    padding: 0;
	    list-style: none;
	}
.storHour ul.store-opening-hrs li {
    font-weight: 600;
}

ul.store-opening-hrs li > span {font-weight: 500;}
.storename .address a > p{
		margin-bottom: 4px!important;
	}
.gform_wrapper .ginput_container_time input, .gform_wrapper .ginput_container_time select{
    padding: 5px!important;
}
.ginput_container_time select{
    min-width: 60px!important;
    width: 60px!important;
}
.product-box .button-wrapper .getcoupon-btn:hover{
	border: 1px solid #ccc;
}
#breadcrumbs {
    padding: 4px 0!important;
    font-size: 16px!important;
}
.uabb-photo-caption, .uabb-photo-caption > p, .fl-photo-caption, .fl-photo-caption > p{
		font-size: 16px!important;
	}
.product-grid.btn-grey>h4>span, .color-box small, .product-grid .fl-button-text, .color_variations_slider .color-boxs-inners small, .product-grid.btn-grey .product-variations1>h5 {
    font-size: 14px!important;
}
/* .betterParalax .fl-row-content-wrap{
	background-position: center bottom!important;
} */
@media(min-width: 1024px) and (max-width: 1280px){
.bannerHome .fl-module-content{
	margin-left: 150px!important;
	margin-right: 150px!important;
}	
}

@media(min-width: 768px) {
	.fl-page-header-fixed  #menu-main-menu{
	    text-align: right;
}
.fl-page-header-fixed  .fl-page-nav ul.navbar-nav>li {
    display: inline-block!important;
    float: none!important;
}
	.fl-page-header-fixed .fl-page-header-wrap .fl-page-header-container{
	width: 100%!important;
}	
	.fl-page-nav-right.fl-page-header-fixed .fl-logo-img, .fl-page-header-fixed .fl-logo-img {
    min-height: 87px!important;
}
.navbar .nav .menu-item-has-children>a:after{
	font-size: 13px!important;
}
.fl-page-nav ul.sub-menu {
    border-top: none!important;
} 
}
@media(min-width: 768px) and (max-width: 1024px){
	.ipadLan > .fl-col-content{
	margin-left: 20px!important;
}
	.marginTop .fl-col-content{
		margin-top: 0px!important;
	}	
		.fl-page-nav-right.fl-page-header-fixed .fl-logo-img, .fl-page-header-fixed .fl-logo-img {
    min-height: 67px!important;
}
}
@media(max-width: 768px){
	.listStyleNone{
		list-style: none;	
	}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0px !important;
}
	
.fl-slide-1 .fl-slide-foreground  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	display: flex;
    align-items: center;
    justify-content: center;
}
	.mobileCenter{
		text-align:center!important;
	}
	#menu-copyright-bar-menu{
	width: 100%;
    text-align: center;
}
	.custom_searchModule{
	    max-width: 100%!important;
    min-width: 100%!important;
}
	.open_sidebar {
		width: auto !important;
		max-width: 120px !important;
		margin: 0 auto;
	}
}